#ABOUT-ME{
    width: 95%;
    height: 100%;

}
.text-box{
    width: auto;
    height: auto;
    display: flex;
    line-height: 32px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border:3px solid rgb(4, 113, 236);
}
.text-box{
    font-size: 20px;
    text-align: justify
}
.text-box p{
        text-indent:30px;
}
#ABOUT-ME .photo{
    width: 250px;
    height: auto;
    border: 1px solid black;
}
#ABOUT-ME {
    display: grid;
    grid-template-areas: 
        "intro intro photo photo photo"
        "main main photo photo photo"
        "conclusion conclusion conclusion conclusion conclusion";
    gap: 20px;
}

.intro {
    grid-area: intro;
}
.main {
    grid-area: main;
}
.photo {
    grid-area: photo;
}
.conclusion {
    grid-area: conclusion;
}
@media screen and (max-width: 1200px){
    .text-box{
        font-size: 16px;
        line-height: 24px;
    }
    
}
@media screen and (max-width: 750px){
    #ABOUT-ME {
        display: grid;
        grid-template-areas: 
            "intro intro intro photo photo"
            "main main main main main"
            "conclusion conclusion conclusion conclusion conclusion"
            "conclusion conclusion conclusion conclusion conclusion";
        gap: 20px;
    }
    #ABOUT-ME .photo{
        width: auto;
        height: auto;
        min-width: 150px;
        border: 1px solid black;
    }
    .text-box{
        font-size: 14px;
        line-height: 18px;
    }

}
