#ABOUT-SKILLS{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#ABOUT-SKILLS > div {
    width: 100%;

}
.logo-skills{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* font-family: "Oswald", serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: white; */
    

}
.logo-skills div{
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
    background-color: rgba(38, 50, 56, 1);
}
.icon-skills{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: row;

    padding-left: 20px;

}
.icon-skills > div {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Coolvetica", serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 48px;
    text-transform: uppercase;

    margin:0 5px 0 5px;
    padding-right: 10px;
    background-color: rgba(245, 245, 245, 1);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* padding-left: 15px;
    border-left: 4px solid rgb(4, 113, 236); */

}
.deployment-box{
    display: flex;
    /* flex-grow: 0.5; */
}
.api-box{
    display: none;
    /* flex-grow: 1; */
}
.auth-box{
    display: none;
    /* flex-grow: 1; */
}
.data-base-box{
    display: flex;
    /* flex-grow: 0.5; */
}
.state-management-box{
    display: none;
    /* flex-grow: 1; */
}
.assembly-box{
    display: flex;
    /* flex-grow: 1; */
    
}
.framework-box{
    display: flex;
    /* flex-grow: 0.5; */
}
.base-box{
    display: flex;
    height: auto;
}
.git-box{
    display: flex;
    /* height: 10%; */
}
.gpt-box{
    display: flex;
    /* height: 10%; */
}
.explanation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


}
.explanation div{
    font-family: "Oswald", serif;
    font-weight: 400;
    font-size: 24px;

    margin:0 15px 0 15px;
}
.learned , .l{
    padding-left: 15px;
    border-left: 8px solid rgb(4, 113, 236);
}
.not-learned, .nl{
    padding-left: 15px;
    border-left: 8px solid rgb(236, 220, 4);
}
@media screen and (max-width: 1080px){
    .icon-skills > div {
        font-size: 36px;
    }
    .logo-skills div{
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }
    .explanation div{
        font-size: 18px;
    }  
}
@media screen and (max-width: 600px){

    .icon-skills > div {
        font-size: 28px;
    }
    .logo-skills div{
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }
    .explanation div{
        font-size: 18px;
    }  
}