@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Roboto", serif;
    /* font-family: "Oswald", serif; */
}
html{
    width: 100%;
    height: 100%;
}

#CONTAINER{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    
    display:flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    justify-content: space-between;
}
#LEFT_STATIC_BOX{
    width: 18%;
    height: 98%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
}
#ME{
    width: 95%;
    height: 20%;
    background-color: rgb(4, 113, 236);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
}
#ME div{
    font-family: "Oswald", serif;
    color: white;
}
#ME .name{
    font-size: 36px;
}
#ME .mail a{
    font-size: 18px;
    font-family: "Oswald", serif;
    color: white;
}
#NAVIGATE{
    width: 95%;
    height: 78%;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: rgba(211, 231, 231, 0.495); */
}
.rotate-box{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* transform: rotate(90deg); */
}
#BUTTON-BOX{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button-nav{
    width: 100%;
    height: 23%;
    background-color: rgba(211, 231, 231, 0.495);
    cursor:pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left:25px;
}
.button-nav .button-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: bisque;
    pointer-events: none;
}
.button-nav .button-text{
    font-size: 18px;
    font-family: "Oswald", serif;
    font-weight: 500;
    letter-spacing:1px;
    text-transform: uppercase;
    pointer-events: none;
}

.button-nav:hover{
    background-color: rgb(4, 113, 236);
    color: white;
    transition: 0.3s;
}
.button-nav.active{
    background-color: rgb(4, 113, 236);
    color: white;
}
#SOCIAL-BOX{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(211, 231, 231, 0.495);
    padding-top: 10px;

}
.soc-icon{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 5px;
    transition: 0.3s;
}

/* .telegram-icon{
    background-image:url('img/Asset\ 16.svg'); 
}
.facebook-icon{
    background-image:url('img/Asset\ 17.svg');
}
.github-icon{
    background-image:url('img/Asset\ 15.svg');
}
.linkedin-icon{
    background-image:url('img/Asset\ 18.svg');
}
.telegram-icon:hover{
    background-image:url('img/Asset\ 35.svg');
    transition: 0.3s; 
}
.facebook-icon:hover{
    background-image:url('img/Asset\ 36.svg');
    transition: 0.3s; 
}
.github-icon:hover{
    background-image:url('img/Asset\ 34.svg');
    transition: 0.3s; 
}
.linkedin-icon:hover{
    background-image:url('img/Asset\ 37.svg');
    transition: 0.3s; 
} */
.telegram-icon{
    background-image:url('img/Asset\ 10.svg'); 
}
.facebook-icon{
    background-image:url('img/Asset\ 11.svg');
}
.github-icon{
    background-image:url('img/Asset\ 9.svg');
}
.linkedin-icon{
    background-image:url('img/Asset\ 12.svg');
}
.telegram-icon:hover{
    background-image:url('img/Asset\ 29.svg');
    transition: 0.3s; 
}
.facebook-icon:hover{
    background-image:url('img/Asset\ 30.svg');
    transition: 0.3s; 
}
.github-icon:hover{
    background-image:url('img/Asset\ 28.svg');
    transition: 0.3s; 
}
.linkedin-icon:hover{
    background-image:url('img/Asset\ 31.svg');
    transition: 0.3s; 
}
#QR-BOX{
    flex:1;
    width: 100%;
    background-color: rgba(211, 231, 231, 0.495);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.qr-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/QR-CV.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
#RIGHT_DINAMYX_BOX{
    width: 81%;
    height: 98%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#LOAD_SPACE{
    width: 99%;
    height: 98%;
    background-color: rgba(211, 231, 231, 0.495);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1080px){
    #CONTAINER{
        flex-direction: column;

    }
    #LEFT_STATIC_BOX{
        width: 100%;
        height: 15%;
        flex-direction: row;
        min-width: none;
        justify-content: flex-start;
    }
    #ME{
        width:  25%;
        height: 100%;
        min-width: 210px;
        border-radius: 0;
        padding-left: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #NAVIGATE{
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: row;


        /* border-radius: 2px; */
    }
    .rotate-box{
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* transform: rotate(90deg); */
    }
    #BUTTON-BOX{
        height: 80%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .button-nav{
        width: 25%;
        height: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }
    .button-nav .button-icon{
        width: 20px;
        height: 20px;
        margin-right: 0;
        background-color: bisque;
        
    }
    .button-nav .button-text{
        display: none;
    }
    #SOCIAL-BOX{
        width:100%;
        height: 80%;
        flex-direction: row;
        /* justify-content: space-around; */
    }
    #SOCIAL-BOX .soc-icon{
        width: 20%;
        height: 100%;
        padding: 0;
    }
    #QR-BOX{
        width: 25%;
        height: 100%;
        display: flex;
    }
    .qr-image{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-position: center; 
        background-repeat: no-repeat;
    }
    #RIGHT_DINAMYX_BOX{
        width: 100%;
        height: 85%;
    }
}

@media screen and (max-width: 600px){
    #CONTAINER{
        height: 100vh;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
    }
    #LEFT_STATIC_BOX{
        width: 100%;
        height: 15%;
        flex-direction: column;
        min-width: none;
        /* justify-content: flex-start; */
        align-items: normal;
        /* padding-left: 5px; */
        /* border-radius: 5px;
        margin-bottom: 20px; */
    }
    #ME{
        display: flex;
        width:  100%;
        height: 70%;
        border-radius: 0;
        padding-left: 10px;
    }
    #NAVIGATE{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }
    #RIGHT_DINAMYX_BOX{
        width: 100%;
        height: 85%;
        overflow: auto;
    }
    #LOAD_SPACE{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    #RIGHT_DINAMYX_BOX::-webkit-scrollbar {
        display: none; 
    }

    .rotate-box{
        display: flex;
        width: 100%;
    }
    #BUTTON-BOX{
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .button-nav{
        width: 25%;
        height: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }
    #SOCIAL-BOX{
        display: none;
        /* justify-content: space-around; */
    }
    #QR-BOX{
        display: none;
    }
    /* #BUTTON-BOX{
        height: 80%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .button-nav{
        width: 25%;
        height: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }
    .button-nav .button-icon{
        width: 20px;
        height: 20px;
        margin-right: 0;
        background-color: bisque;
        
    }
    .button-nav .button-text{
        display: none;
    } */


}    
