@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/static/Oswald-Regular.ttf');
}
@font-face {
    font-family: 'Martian';
    src: url('/fonts/Martian_Mono/static/MartianMono-Regular.ttf');
}
@font-face {
    font-family: 'Coolvetica';
    src: url('/fonts/coolvetica/Coolvetica\ Rg.otf');
}
@font-face {
    font-family: 'Arsenal';
    src: url('/fonts/Arsenal_SC/ArsenalSC-Regular.ttf');
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Roboto", serif;
    /* font-family: "Oswald", serif; */
}
html{
    width: 100%;
    height: 100%;

}
body{
    overflow: hidden;

}
#LOAD_SPACE{
    overflow: auto;
}
#CONTAINER{
    width: 100vw;
    height: 100vh;
    padding: 20px 0 5px 5px;
    
    display:flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    justify-content: space-between;

}
#LEFT_STATIC_BOX{
    width: 18%;
    height: 100%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
}
#ME{
    width: 95%;
    height: 20%;
    /* background-color: rgb(4, 113, 236); */
    background-color: rgba(245, 245, 245, 1);

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
}
#ME div{
    font-family: "Coolvetica", serif;
    letter-spacing: 1px;
    color: rgba(38, 50, 56, 1);
}
#ME div p{
    font-family: "Coolvetica", serif;
    letter-spacing: 1px;
    color: rgba(38, 50, 56, 1);
}
#ME .name{
    font-size: 36px;
}
#ME .mail a{
    font-size: 18px;
    font-family: "Coolvetica", serif;
    color: rgba(38, 50, 56, 1);
}
#NAVIGATE{
    width: 95%;
    height: 78%;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: rgba(211, 231, 231, 0.495); */
}
.rotate-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* transform: rotate(90deg); */
}
#BUTTON-BOX{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
.button-nav{
    width: 100%;
    height: 23%;
    background-color: rgba(245, 245, 245, 1);
    cursor:pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left:25px;
}
.button-nav .button-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    /* background-color: bisque; */

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    pointer-events: none;
}
.button-icon-about{
    background-image: url('/img/about-icon.svg');
}
.button-icon-exp{
    background-image: url('/img/exp-icon.svg');
}
.button-icon-skills{
    background-image: url('/img/skills-icon.svg');
}
.button-icon-portfolio{
    background-image: url('/img/portfolio-icon.svg');
}
.button-nav .button-text{
    font-size: 24px;
    /* font-family: "Oswald", serif; */
    font-family: "Coolvetica", serif;
    /* font-weight: 500; */
    letter-spacing: 1px;
    text-transform: uppercase;
    pointer-events: none;
}

.button-nav:hover{
    background-color: rgba(38, 50, 56, 1);
    color: #FFFF;
    transition: 0.3s;
}
.button-nav.active{
    background-color: rgba(38, 50, 56, 1);
    color: #FFFF;
}

.social-box{
    width: 100%;

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;

    gap:25px;

    padding: 45px;

    background-color: rgba(245, 245, 245, 1);
    padding-top: 10px;

}
.social-box-mobile{
    display: none;

    width: 25%;
    height: 100%;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.soc-icon{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;


    background-color: rgba(38, 50, 56, 1);
    border: 1px solid rgba(38, 50, 56, 1);
    border-radius: 50%;

    cursor: pointer;
}
.telegram-icon{
    background-image:url('img/Asset\ 10.svg'); 
    transition: 0.3s; 
}
.facebook-icon{
    background-image:url('img/Asset\ 11.svg');
    transition: 0.3s; 
}
.github-icon{
    background-image:url('img/Asset\ 9.svg');
    background-color: #FFFF;
    transition: 0.3s; 
}
.linkedin-icon{
    background-image:url('img/Asset\ 12.svg');
    transition: 0.3s; 
}
.telegram-icon:hover{
    background-image:url('img/Asset\ 47\ white.svg');
    transition: 0.3s; 
}
.facebook-icon:hover{
    background-image:url('img/Asset\ 48\ white.svg');
    transition: 0.3s; 
}
.github-icon:hover{
    background-image:url('img/Asset\ 46\ white.svg');
    background-color: rgba(38, 50, 56, 1);
    transition: 0.3s; 
}
.linkedin-icon:hover{
    background-image:url('img/Asset\ 49\ white.svg');
    transition: 0.3s; 
}
#QR-BOX{
    height: 50%;
    flex-grow: 1;
    width: 100%;
    background-color: rgba(245, 245, 245, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#QR-BOX a{
    text-decoration: none;
}
.qr-image{
    width: 250px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(38, 50, 56, 1);

    border: 1px solid rgba(38, 50, 56, 1);
    border-radius: 5px;



    cursor: pointer;

    transition: 0.3s;
    /* background-image: url('img/QR-CV.png');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat; */
}
a .qr-image{
    font-family: "Coolvetica", serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #FFFF;
}
.qr-image:hover{
    background-color: #FFFF;
    color: rgba(38, 50, 56, 1);
    transition: 0.3s;
}
#RIGHT_DINAMYX_BOX{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#LOAD_SPACE{
    width: 100%;
    height: 100%;
    /* background-color: rgba(211, 231, 231, 0.495); */

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1200px){
    #CONTAINER{
        height: 100vh;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
    }
    #LEFT_STATIC_BOX{
        width: 100%;
        height: 15%;
        flex-direction: column;
        min-width: none;

        justify-content: flex-start;
        align-items: normal;
    }
    #ME{
        width:  100%;
        height: 70%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        border-radius: 0;

        padding-left: 10px;

        background-color: rgba(38, 50, 56, 1);
    }
    #ME .name p{
        color: #FFFF;
        display: inline;
    }
    #ME .mail a{
        color:#FFFF;
    }
    #NAVIGATE{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }
    .rotate-box{
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #RIGHT_DINAMYX_BOX{
        width: 100%;
        height: 85%;
        overflow: auto;
    }
    #LOAD_SPACE{
        width: 100%;
        height: 100%;

        padding-top: 25px;
    }
    #RIGHT_DINAMYX_BOX::-webkit-scrollbar {
        display: none; 
    }

    .rotate-box{
        display: flex;
        width: 100%;
    }
    #BUTTON-BOX{
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .button-nav{
        width: 25%;
        height: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }
    .button-nav .button-icon{
        width: 30px;
        height: 30px;
        margin-right: 0; 
    }
    .button-nav .button-text{
        display: none;
    }
    .social-box{
        display: none;
    }
    .social-box-mobile{
        display: flex;
    }
    .telegram-icon:hover{
        background-image:url('img/Asset\ 10.svg');  
    }
    .facebook-icon:hover{
        background-image:url('img/Asset\ 11.svg');
    }
    .github-icon:hove{
        background-image:url('img/Asset\ 9.svg');
        background-color: #FFFF; 
    }
    .linkedin-icon:hover{
        background-image:url('img/Asset\ 12.svg'); 
    }
    .telegram-icon{
        background-image:url('img/Asset\ 47\ white.svg'); 
    }
    .facebook-icon{
        background-image:url('img/Asset\ 48\ white.svg'); 
    }
    .github-iconr{
        background-image:url('img/Asset\ 46\ white.svg');
        background-color: rgba(38, 50, 56, 1); 
    }
    .linkedin-icon{
        background-image:url('img/Asset\ 49\ white.svg');
        transition: 0.3s; 
    }
    #QR-BOX{
        display: none;
    }
    #RIGHT_DINAMYX_BOX{
        width: 100%;
        height: 85%;
    }
    #LOAD_SPACE{
        width: 100%;
        height: 100%;

        padding-top: 25px;
        padding-bottom: 15px;
    }
}    
