#ABOUT-ME{
    width: 95%;
    height: 100%;

}
.text-box{
    width: auto;
    height: auto;
    display: flex;
    line-height: 45px;
    align-items: center;
    justify-content: center;
    padding: 0 45px 0 45px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 10px;
}
.text-box p, .text-box strong{
    font-size: 24px;
    font-family: 'Arsenal';
    text-align: justify;
}
.text-box p{
        text-indent:30px;
}
#ABOUT-ME .photo{
    width: auto;
    height: auto;
    border: 1px solid black;
}
#ABOUT-ME {
    display: grid;
    grid-template-areas: 
        "intro intro intro intro photo"
        "main main main main main"
        "conclusion conclusion conclusion conclusion conclusion";
    gap: 35px;
}

.intro {
    grid-area: intro;
}
.main {
    grid-area: main;
}
.photo {
    grid-area: photo;
}
.conclusion {
    grid-area: conclusion;
}
@media screen and (max-width: 1200px){
    .text-box p, .text-box strong{
        font-size: 18px;
        line-height: 32px;
    }
    
}
@media screen and (max-width: 750px){
    #ABOUT-ME {
        display: grid;
        grid-template-areas: 
            "intro intro intro intro photo"
            "main main main main main"
            "main main main main main"
            "conclusion conclusion conclusion conclusion conclusion";
        gap: 20px;
    }
    #ABOUT-ME .photo{
        width: auto;
        height: auto;
        min-width: 150px;
        border: 1px solid black;
    }
    .text-box{
        padding: 0 20px 0 20px;

    }
    .text-box p, .text-box strong{
        font-size: 16px;
        line-height: 28px;
    }

}
@media screen and (max-width: 510px){
    #ABOUT-ME {
        display: grid;
        grid-template-areas: 
            "intro intro intro intro photo"
            "main main main main main"
            "main main main main main"
            "conclusion conclusion conclusion conclusion conclusion";
        gap: 10px;
    }
    #ABOUT-ME .photo{
        width: auto;
        height: auto;
        min-width: 150px;
        border: 1px solid black;
    }
    .text-box{
        padding: 0 10px 0 10px;

    }
    .text-box p, .text-box strong{
        font-size: 14px;
        line-height: 22px;
    }

}
